[submodule "GSL"]
	path = GSL
	url = git@github.com:Microsoft/GSL.git
[submodule "variant"]
	path = variant
	url = https://github.com/mpark/variant.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest
